body {
    background: #0f0f0f;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0;
    padding-top: 60px;
}

button {
    padding: 12px 25px;
    font-size: 16px;
    background: #1c1c1c;
    color: white;
    border: 1px solid #333;
    border-radius: 8px;
    cursor: pointer;
}

#nota {
    font-size: 130px;
    margin: 40px 0 10px 0;
    color: #777;
    transition: color 0.3s ease;
}

#hz {
    font-size: 20px;
    color: #aaa;
}

/* ===== Barra ===== */

#tuner {
    width: 80%;
    max-width: 500px;
    margin: 50px auto;
    position: relative;
}

#linha {
    height: 6px;
    background: #333;
    border-radius: 10px;
    position: relative;
}

#zonaAfinada {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 6px;
    background: lime;
    border-radius: 10px;
}

#ponteiro {
    width: 4px;
    height: 30px;
    background: white;
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    transition: left 0.15s ease-out;
}