
body {
    background: #111;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0;
    padding-top: 60px;
}

button {
    padding: 12px 25px;
    font-size: 16px;
    background: #222;
    color: white;
    border: 1px solid #444;
    border-radius: 8px;
    cursor: pointer;
}

#nota {
    font-size: 120px;
    margin: 40px 0 10px 0;
    color: #777;
    transition: 0.2s;
}

#hz {
    font-size: 22px;
    color: #aaa;
}

#barraContainer {
    width: 80%;
    height: 10px;
    background: #333;
    margin: 40px auto;
    border-radius: 10px;
    position: relative;
}

#barra {
    width: 50%;
    height: 100%;
    background: lime;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#marcador {
    width: 4px;
    height: 30px;
    background: white;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}