body {
    background: #0f0f0f;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0;
    padding-top: 60px;
}

button {
    padding: 12px 25px;
    font-size: 16px;
    background: #1c1c1c;
    color: white;
    border: 1px solid #333;
    border-radius: 8px;
    cursor: pointer;
}

#nota {
    font-size: 130px;
    margin: 40px 0 10px 0;
    color: #777;
    transition: color 0.3s ease;
}

#hz {
    font-size: 20px;
    color: #aaa;
}

.barra {
    position: relative;
    width: 300px;
    height: 20px;
    background: #333;
    border-radius: 10px;
    margin: 20px auto;
}

.zona-verde {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 100%;
    background: #00ff88;
    border-radius: 6px;
}

.ponteiro {
    position: absolute;
    top: -5px;
    width: 4px;
    height: 30px;
    background: white;
    transition: left 0.1s linear;
}
#botaoAlterar {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    background: #00ff88;
    color: rgb(20, 20, 20);
    cursor: pointer;
    transition: 0.3s;
}

#botaoAlterar:active {
    transform: scale(0.95);
}